<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wooyoo.learning.dao.mapper.AonetypeMapper">

    <!-- 开启基于redis的二级缓存 -->
    <!--<cache type="com.wooyoo.learning.util.RedisCache"/>-->

    <select id="selectAll" resultType="java.util.HashMap">
        SELECT * FROM Aonetype
    </select>
</mapper>
