<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wooyoo.learning.dao.mapper.SendMapper">

    <!-- 开启基于redis的二级缓存 -->
    <!--<cache type="com.wooyoo.learning.util.RedisCache"/>-->

    <insert id="insertBatch">
        INSERT INTO send(phone,messageId,isSend,userName)
        VALUES
        <foreach collection="sends" item="send" separator=",">
            (#{send.phone},#{send.messageId},#{send.isSend},#{send.userName})
        </foreach>
    </insert>

    <select id="selectCopy" resultType="java.util.HashMap">
        SELECT send.id,phone,message,userName FROM send left JOIN message on send.messageId = message.id where isSend = 0
    </select>

</mapper>
